[submodule "manosaba_text_box"]
	path = manosaba_text_box
	url = https://github.com/oplivilqo/manosaba_text_box.git
[submodule "milthm-calculator-web"]
	path = milthm-calculator-web
	url = https://github.com/mkzi-nya/milthm-calculator-web.git
